@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Nunito", sans-serif;
  background: #1dd1a1;
  color: #fff;
}

main {
  padding: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-weight: 600;
  font-size: 16px;
}

ol {
  line-height: 20px;
  list-style: none;
}

.main-title {
  font-size: 38px;
  margin-bottom: 20px;
}

.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-column {
  padding: 20px;
  margin-bottom: 20px;
  min-width: 350px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  box-shadow: 0px 2px 4px 0px #333;
  border-radius: 5px;
  color: #333;
}

.animal-image {
  max-width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .content-column {
    width: 100%;
  }
}